* {
    box-sizing: border-box;
  }

  .navbar {
    height: 80px;
  }
  
  .navbar__site-name {
    font-size: 28px;
    font-weight: bold;
  }
  
  .navbar__site-name a {
    text-decoration: none;
    color: #407687;
  }
  
  .navbar__list {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }
  
  .navbar__list > div {
    display: flex;
  }
  
  .navbar__list li {
    margin-left: 21px;
  }
  
  .navbar__list a {
    text-decoration: none;
    color: #787878;
    font-size: 16px;
  }
  
  .navbar__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 12px;
  }
  
  .banner {
    background-image: linear-gradient(to top, #6b8d9e, #80b0d7);
    height: 240px;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .banner__wrapper > div {
    margin-top: 26px;
  }
  
  
  .banner h1 {
    font-size: 28px;
    margin: 0;
  }
  
  .container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 138px;
    min-height: calc(100vh - 350px);
  }
  
  .posts, .container {
    background: white;
    display: inline-flex;
    margin: 0 auto;
    margin-top: -30px;
    flex-direction: column;
  }
  
  .post {
    width: 900px;
    padding: 30px;
    border: solid 1px #5f999c;
  }
  
  .post + .post {
    margin-top: 24px;
  }
  
  .post__header {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .post__action {
    padding: 3px 12px;
    border: solid 1px #5f999c;
    color: #5f999c;
    text-decoration: none;
    font-size: 14px;
  }
  
  .post__info {
    margin-top: 19px;
    padding: 12px 22px;
    background: #eee;
  }
  
  .post__content {
    margin-top: 17px;
    line-height: 1.5em;
    white-space: pre-line;
    word-break: break-all;
  }
  
  .btn-read-more {
    display: inline-block;
    padding: 12px 16px;
    border: solid 1px #5f999c;
    color: #5f999c;
    margin-top: 36px;
    text-decoration: none;
  }
  
  .login-wrapper {
    margin: 0 auto;
    border: solid 1px #5f999c;
    width: 527px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 72px;
    margin-top: -30px;
    background: white;
  }
  
  .login-wrapper form {
    width: 100%;
  }
  
  .login-wrapper input {
    width: 100%;
  }
  
  .input__field {
    margin-top: 16px;
    height: 40px;
  }
  
  .login-wrapper input[type=submit] {
    height: 56px;
    background-image: linear-gradient(to top, #6b8d9e, #80b0d7);
    color: white;
    margin-top: 73px;
    border: #5f999c;
  }
  
  .login-wrapper h2 {
    font-size: 32px;
    font-weight: normal;
  }
  
  .input__wrapper + .input__wrapper {
    margin-top: 23px;
  }
  
  .input__label {
    font-size: 14px;
    margin-left: 21px;
  }
  
  .edit-post {
    width: 900px;
    padding: 30px;
    border: solid 1px #5f999c;
  }
  
  .edit-post__title, .error {
    font-size: 20px;
  }

  .error {
    display: inline-block;
    text-align: center;
    color: #a20606;
    margin: 0;
    margin-bottom: 20px;
  }

  .hide {
    display: none;
  }
  
  .edit-post__input-wrapper {
    width: 100%;
    margin-top: 28px;
  }
  
  .edit-post__input-wrapper input, .edit-post__input-wrapper textarea {
    width: 100%;
    padding: 6px;
  }

  .edit-post__input {
    margin-top: 20px;
  }
  
  .edit-post__btn-wrapper {
    text-align: right;
  }
  
  .post__btn {
    display: inline-block;
    padding: 10px 39px;
    border: solid 1px #5f999c;
    color: #5f999c;
    cursor: pointer;
    margin-top: 25px;
    cursor: pointer;
  }

  .post__btn {
    background-color: #fff;
  }

  .post__btn:hover {
    background-color: #5f999c;
    color: #fff;
  }

  .admin-posts {
    border-top: solid 1px #5f999c;
    border-left: solid 1px #5f999c;
    border-right: solid 1px #5f999c;
  }

  .admin-post {
    padding: 24px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #5f999c;
    align-items: center;
    font-size: 14px;
    width: 920px;
  }

  .category {
    color: #5f999c;
    cursor: pointer;
  }

  .category:hover {
    color: #8cd6da;
  }
  
  .admin-post__title {
    text-decoration: none;    
    font-size: 16px;
    margin-left: 16px;
  }
  
  .admin-post__word {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }
  
  .admin-post__info {
    display: flex;
    align-items: center;
    margin-left: 12px;
  }
  
  .admin-post__created-at, .admin-post__updated-at {
    color: #8f8f8f;
  }

  .admin-post__article-time {
    margin-right: 10px;
  }
  
  .admin-post__btn:hover, .btn-read-more:hover, .post__action:hover {
    background-color:#5f999c;
    color: #fff;
  }

  .admin-post__btn {
    padding: 4px 8px;
    border: 1px solid #5f999c;
    color: #5f999c;
    cursor: pointer;
    margin-left: 8px;
    text-decoration: none;
  }
  
  .admin-post__btn:last-child {
    margin-right: 16px;
  }
  
  footer {
    padding: 10px 0px;
    background-color: #6b8d9e;
    font-size: 14px;
    color: white;
    text-align: center;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }


  .pagination a {
    text-decoration: none;
    color: #5f999c;
    border: 1px solid #5f999c;
    border-radius: 10px;
    width: 30px;
    height: 30px;  
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
  }

  .pagination a:hover {
    transition-duration: 0.05s;
    background-color: #5f999c;
    color: white;
  }

  .category {
    text-decoration: none;
  }

  .category-container {
    background-color: #fff;
    border: solid 1px #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -30px;
  }

  .category-list {
    width: 600px;
    border: 1px solid #5f999c;
    padding: 20px;
  }

  .category-name {
    color: #5f999c;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
  }

  .category-post {
    border-left: 2px rgb(167, 166, 166) solid;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  .category-post:hover {
    border-left: 3px rgb(63, 63, 63) solid;
  }

  .category-post__title {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    text-decoration: none;
  }
  
  .category-post__title:hover , .admin-post__word:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  .create_new_category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 40px;
  }

  .create_new_category input[type="submit"] {
    margin-left: 15px;
  }